body {
  margin: auto;
  margin-top: 20px;
  max-width: 1200px;
  height: auto;
  padding: 10px;
font-family: 'Roboto Mono', monospace;
  border-radius: 0.5px;
  border-style: solid;
  border-color: black;
}

